*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.master-container{
    
    position: relative;
    align-items: center;
    
}
.child-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Montserrat';
    width: 90%;
    overflow: hidden;
    
}
.underline{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
}

.header{
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 50px 0;
}
.nav{
    position: relative;
}
.nav>button{
    height: 50px;
    width: 50px;
    border: unset;
    background-color: transparent;
    
}
.lines{
    position: absolute;
    top: 27%;
    left:21%

}
.line1{
    position: absolute;
    width: 25px;
    border: 1px solid black;
    border-radius: 2px;
    
}
.line2{
    position: absolute;
    top: 8px;
    width: 25px;
    border: 1px solid black;
    border-radius: 2px;
    
}
.line3{
    position: absolute;
    top: 16px;
    width: 25px;
    border: 1px solid black;
    border-radius: 2px;
    
}
.nav:hover .line1{
    top:-2px;
}
.nav:hover .line3{
    top: 18px;
}
#nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 35%;
    height: 100%;
    background: url("files/nav_bg.jpg");
    
    z-index: 99;
    position: fixed;
    left: 100%;
   
    padding: 40px;

    
}

.nav-bar-upper{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.search-bar{
    position: relative;
    right: 20%;
    top: 5px;
    height: 50px;
    width: 50%;
}
#searchbar{
    border: 2px solid white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#searchBarDash{
    
    position: absolute;
    width: 18px;
    transform: rotate(45deg);
    transform-origin: bottom right;
    right: 0;
    bottom: 0;
}
#searchBarDashU{
    
    position: absolute;
    width: 18px;
    transform: rotate(-45deg);
    transform-origin: top right;
    right: 0;
    top: 0;
    visibility: hidden;
    

}
#exitSearch{
    height: 50px;
    width: 50px;
    
    
    float: right;
}

.nav-bar-middle{
    position: absolute;
    top: 140px;
    font-family: 'Lato';
    font-size: larger;
    color: white;
    letter-spacing: 2px;
    white-space: 40px;
    text-decoration: none;

}
.nav-bar-middle>a{
    color: white;
    text-decoration: none;
}
.nav-bar-middle>a:hover{
    color: aquamarine;
    text-decoration: none;
}
.nav-bar-middle>h2{
    margin-top: 5px;
}
.nav-bar-middle>h2:hover{
    color: aquamarine;
}
.nav-bar-upper>i{
    font-size: 50px ;
    color: white;
}
.nav-bar-upper>i:hover{
    color: aquamarine;
}
.nav-bar-bottom{
    position: absolute;
    top: 640px;
}
.social-icons>a{
    color: white;
    margin-right: 10px;
    font-size: 20px;
}
.social-icons>a:hover{
    color: aquamarine;
}
.nav-contact-text{
    margin-top: 20px;
    color: darkgrey;
    font-family: 'Courier';
}
.anchor-button{
    z-index: 10;
    position: fixed;
    bottom: 20%;
    right: 20px;
    border: 4;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}
.fa-arrow-up{
    transform: scale(1.8);
    color: white;
}
.container1{
  
  margin: 0 0 80px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
#contImg{
    
    animation: slideimg 11s ;
    animation-iteration-count: infinite;
}
@keyframes slideimg{
    0%{
        transform: scale(1.4);
        opacity: 1;
    }
    50%{
        transform: scale(1.1);
        
    }
    100%{
        transform: scale(1.4);
        opacity: 0.5;
    }
}

.text-constant{
    position: absolute;
    bottom: 45%;
    left: 10%;
    font-family: 'Saira Stencil One';
    font-size: 60px;
    
}
.bg-color{
    font-family: 'Josefin Slab';
    background-color: aquamarine;
    padding: 8px 8px 8px 0px;
    letter-spacing: 2px;
    display: inline;
    
}
.text-animated{
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: 25%;
    left: 10%;
    white-space: pre-line;
    overflow: hidden;
    border-right: 2px solid;
    width: 250px;
    animation: moveBorder 4s;
    animation-iteration-count: infinite;
}
@keyframes moveBorder {
    0%{
        width: 0 ;
    }
    50%{
        width: 250px;
    }
    100%{
        width: 0;
    }
}
.container2{
    display: flex;
    flex-basis: auto;
    
    
}
.cont2-text>.low-text{
    margin-top: 60px;
}
.cont2-text{
    padding: 20px;
}
h1{
    font-size: 30px;
}
.mid-text{
    font-family: 'Montserrat';
    
    font-size: 20px;
}
.low-text{
    font-family: 'Roboto Mono';
    
    color: gray;
}
.container3{
    margin: 80px 0;
}
.container3>div{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    
}
.text1{
    font-size: 20px;
}
.cont3-col{
    padding: 30px;
    width: 30%;
}
.cont3-col>i{
    font-size: 50px;
    margin-bottom: 20px;   
}
.cont3-col>h2{
    margin-bottom: 20px;
}
.cont4-nav-button{
    position: relative;
}
.cont4-nav-button{
    width: 60px;
}
.cont4-nav-button>button{
    height: 60px;
    width: 100%;
    border: unset;
    background-color: aquamarine;
    
}

.c4-line1{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 35px;
    border: 2px solid black;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    
}
.c4-line2{
    position: absolute;
    top: 30px;
    left: 10px;
    width: 35px;
    border: 2px solid black;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}
.c4-line3{
    position: absolute;
    top: 45px;
    left: 10px;
    width: 35px;
    border: 2px solid black;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}
.c4-line4{
    position: absolute;
    top: 60px;
    left: 10px;
    width: 35px;
    border: 2px solid black;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.cont4-nav-button:hover .c4-line1{
    top: 0;
    opacity: 0;
}
.cont4-nav-button:hover .c4-line2{
    top: 15px;
}
.cont4-nav-button:hover .c4-line3{
    top: 30px;
}
.cont4-nav-button:hover .c4-line4{
    top: 45px;
    opacity: 1;
}
.cont4-nav{
    position: relative;
}
.cont4-nav-menu{
    position: absolute;
    top: 20px;
    left: -500px;
}
.cont4-nav-menu>a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    margin-right: 40px;
}
.cont4-nav-menu>a:hover{
    color: aquamarine;
}
.cont4-grid{
    padding: 80px 0 0 0 ;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 80px;
    justify-content: space-evenly;
    
}
.grid-item{
    position: relative;
    overflow: hidden;
    
       
}
.border-overlay1{
    width: 0;
    
    position: absolute;
    top: 0;
    border-top: 5px solid black;
    transition: width 0.4s ease-in-out;
    
}
.border-overlay2{
    height: 0;
    
    position: absolute;
    top: 0;
    right: 0;
    border-right: 5px solid black;
    transition: height 0.4s ease-in;
    transition-delay: 0.4s;
    
}
.border-overlay3{
    height: 99%;
    width: 0%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 5px solid black;
    transition: width 0.4s ease-in-out;
    
}
.border-overlay4{
    height: 0;
    width: 97%;
    position: absolute;
    bottom: 0;
    border-left: 5px solid black;
    transition: height 0.4s ease-in;
    transition-delay: 0.4s;
}        
.grid-item:hover .border-overlay1{
    width: 99%;
    height: 100%;
}
.grid-item:hover .border-overlay2{
    
    height: 100%;
}
.grid-item:hover .border-overlay3{
    width: 100%;
    
}
.grid-item:hover .border-overlay4{
    
    height: 100%;
}
.grid-item>img{
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.grid-item:hover img{
    transform: scale(1.1);
}

.likes{
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.likes-text{
    position: absolute;
    font-size: 20px;
    left: 2px;
    transition: all 0.3s ease-in-out;
}
.fa-heart-o:hover{
    
}
.g-head{
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    bottom: 60px;
    left: 30px;
    transform: translateY(120px);
    transition: all 0.2s ease-in-out;
    
}
.g-des{
    font-size: 18px;
    
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(90px);
    transition: all 0.4s ease-in-out;
}
.overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(127, 255, 212, 0.3), aquamarine);
    
    position: absolute;
    top: 0;
    opacity: 0;
}
.grid-item:hover .overlay{
    opacity: 0.7;
    cursor: url('files/cursor.png'), auto;
    
}
.grid-item:hover .likes{
    opacity: 1;
}
.grid-item:hover .g-head{
    transform: translateY(0px);
}
.grid-item:hover .g-des{
    transform: translateY(0px);
}

.container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.reload-icon>i{
    font-size: 80px;
    color: black;
    
    transition: all 0.1s ease-in-out;
}
.fa-refresh:hover{
    color: aquamarine;
    transform: rotate(90deg);
}
.newsletter{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    height: 200px;
    width: 100%;
}
.newsletter-lhalf{
    background-color: aquamarine;
    height: 100%;
    position: absolute;
    width: 50%;
   
    
}
.newsletter-lhalf>span{
    
    font-size: 25px;
    position:absolute;
    top: 35%;
    left: 30%;
    
    
}
.newsletter-rhalf{
    position: absolute;
    width:50%;
    left: 50%;
    height: 100%;
    background-color: black;
   

}
.child-div{
    background-color: white;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;   
}
.email-box{
    position: absolute;
    height:25%;
    width: 40%;
    font-family: 'Montserrat';
    font-size: 15px;
    border: 2px solid aquamarine;
    top: 30%;
    left: 29%;
}
.subscribe{
    position: absolute;
    background-color: aquamarine;
    padding: 10px;
    border: unset;
    bottom: 5%;
    left: 40%;
    border-radius: 5px;
    font-family: 'Montserrat';
}
.subscribe:hover{
    border: 1px solid black;
}
.footer{
    margin-top: 100px;
    height: 250px;
    background-color:lightgray;
    display: flex;
    justify-content: space-between;
}
.footer .mid-text{
    font-weight: bold;
    letter-spacing: 1px;
}
.foot-left{
    margin: 80px 50px;
    
}
.foot-mid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.foot-right{
    text-align: right;
    margin: 80px 50px;
    
}
.foot-social-icons>a{
    color: black;
    margin-right: 20px;
    font-size: 20px;
}
.foot-social-icons>a:hover{
    color: aquamarine;
}
